<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--导入vue包-->
    <script src="../lib/vue-2.4.0.js"></script>
</head>
<body>

<div id="app">

    <input type="text" v-model="firstname">
    <input type="text" v-model="lastname">
    <input type="text" v-model="fullname">
</div>

<script>

    var vm = new Vue({
        el: '#app',
        data: {
            firstname:'共饮',
            lastname:'一杯无',
            fullname:''
        },
        watch:{// 使用这个 属性，可以监视 data 中指定数据的变化，然后触发这个 watch 中对应的 function 处理函数
            firstname:function (newVal,oldVal) {
                    this.fullname = newVal+this.lastname
            },
            lastname: function (newVal) {
                this.fullname = this.firstname+newVal
            }
        }
    })
</script>
</body>
</html>
